<section id="contact" class="text-center container">

      <form id="form" method="POST" action="https://script.google.com/macros/s/AKfycbzIgdPEYf7aJ9Jf9jqutYoC8VvJAUJ1PA9pETUK/exec">

        <div class="form-input">
          <label for="firstname"></label>
          <input class="contact-box" id="firstname" name="firstname" placeholder="First Name" />
        </div>

        <div class="form-input">
          <label for="lastname"></label>
          <input class="contact-box" id="lastname" name="lastname" placeholder="Last Name" />
        </div>

        <div class="form-input">
          <label for="email"></label>
          <input class="contact-box" id="email" name="email" type="email" required placeholder="Email" />
        </div>

        <div class="form-text">
          <label for="message"></label>
          <textarea class="contact-box-large" rows="7" id="message" name="message" type="message" required placeholder="Message"></textarea>
        </div>

        <div>
          <button id="send" class="bg-orange">
            Send <i class="fas fa-paper-plane fa-fw fa-1x"></i>
          </button>
        </div>

      </form>

      <div style="display:none" id="thankyou_message">
        <i style="color:#3cba54" class="fa fa-check fa-fw fa-3x"></i>
        <br><br>
        <p>Your message has been received and you will receive a reply soon 👍</p>
      </div>

</section>
