<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Maxx Turing | Founder at Startbook | Tech entrepreneur helping other founders succeed." />
	<meta name="author" content="Maxx Turing" />

	<!-- Open Graph protocol -->
	<meta prefix="og: http://ogp.me/ns#" property="og:image" itemprop="image" content="https://maxxturing.com/assets/img/meta-cover.png" />
	<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Maxx Turing" />
	<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
	<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://maxxturing.com/" />
	<meta prefix="og: http://ogp.me/ns#" property="og:description" content="Maxx Turing | Founder at Startbook | Tech entrepreneur helping other founders succeed." />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:title" content="Maxx Turing" />
	<meta
	property="twitter:description"
	content="Maxx Turing | Founder at Startbook | Tech entrepreneur helping other founders succeed."
	/>
	<meta property="twitter:image" content="https://maxxturing.com/assets/img/meta-cover.png" />

	{% include head-notags.html %}
	<link rel="stylesheet" href="{{ "/assets/css/about.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/animate.css" | prepend: site.baseurl }}">
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
	<script src="{{ "/assets/scripts/modernizr.js" | prepend: site.baseurl }}"></script> <!-- required to spring cards? -->
	<script src="{{ "/assets/scripts/main.js" | prepend: site.baseurl }}"></script> <!-- spring cards -->
  <script src="{{ "/assets/scripts/wow.js" | prepend: site.baseurl }}"></script> <!-- Animates fadein of header -->
</head>
