<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-nav">
  <a class="navbar-brand" href="/">mark.wf</a>
  <button id="button" class="navbar-toggler hamburger hamburger--spring" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="hamburger-box"><span class="hamburger-inner"></span></span>
  </button>
  <!-- <button class="hamburger hamburger--collapse" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/cv" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hire Mark
        </a>
        <div class="dropdown-menu bg-orange" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header"><i class="fa fa-file-alt fa-fw fa-1x" aria-hidden="true"></i> Curriculum Vitae</h6>
          <a class="dropdown-item" href="/cv/"><i class="fas fa-globe fa-fw fa-1x" aria-hidden="true"></i> View Web Version</a>
          <a class="dropdown-item" target="_blank" href="/cv.pdf"><i class="fa fa-file-pdf fa-fw fa-1x" aria-hidden="true"></i> View PDF Version</a>
          <a class="dropdown-item" download href="/cv.pdf"><i class="fa fa-download fa-fw fa-1x" aria-hidden="true"></i> Download PDF Version</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu bg-orange" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header"><i class="fa fa-user fa-fw fa-1x" aria-hidden="true"></i> Consulting</h6>
          <a class="dropdown-item" href="/services/operations-and-strategy-consulting"><i class="fa fa-cogs fa-fw fa-1x" aria-hidden="true"></i> Operations & Strategy Consulting</a>
          <a class="dropdown-item" href="/services/social-media-consulting"><i class="fab fa-instagram fa-fw fa-1x" aria-hidden="true"></i> Social Media Consulting</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header"><i class="fa fa-laptop fa-fw fa-1x" aria-hidden="true"></i> Web Development</h6>
          <a class="dropdown-item" href="/services/website-in-24h"><i class="far fa-clock fa-fw fa-1x" aria-hidden="true"></i> Website in 24h</a>
          <a class="dropdown-item" href="/services/mvp-development"><i class="fa fa-rocket fa-fw fa-1x" aria-hidden="true"></i> MVP Development</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header"><i class="fa fa-images fa-fw fa-1x" aria-hidden="true"></i> Media</h6>
          <a class="dropdown-item" href="/services/photography"><i class="fa fa-camera fa-fw fa-1x" aria-hidden="true"></i> Photography</a>
          <a class="dropdown-item" href="/services/videography"><i class="fa fa-video fa-fw fa-1x" aria-hidden="true"></i> Videography</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="projects" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu bg-orange scrollable-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header"><i class="fa fa-lightbulb fa-fw fa-1x" aria-hidden="true"></i> Business</h6>
          <a class="dropdown-item" href="/projects/fud"><i class="fa fa-utensils fa-fw fa-1x" aria-hidden="true"></i> FüD</a>
          <a class="dropdown-item" href="/projects/senescience"><i class="fa fa-flask fa-fw fa-1x" aria-hidden="true"></i> Senescience</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header"><i class="fa fa-code fa-fw fa-1x" aria-hidden="true"></i> Technical</h6>
          <a class="dropdown-item" href="/projects/mytodo"><i class="fa fa-check-square fa-fw fa-1x" aria-hidden="true"></i> MyTo.Do</a>
          <a class="dropdown-item" href="/projects/markwf"><i class="fas fa-hand-spock fa-fw fa-1x" aria-hidden="true"></i> mark.wf</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header"><i class="fa fa-paint-brush fa-fw fa-1x" aria-hidden="true"></i> Creative</h6>
          <a class="dropdown-item" href="/projects/nature-photography"><i class="fa fa-leaf fa-fw fa-1x" aria-hidden="true"></i> Nature Photography</a>
          <a class="dropdown-item" href="/projects/feeling-good-project"><i class="far fa-smile fa-fw fa-1x" aria-hidden="true"></i> Feeling Good Project</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header"><i class="fa fa-book fa-fw fa-1x" aria-hidden="true"></i> Study</h6>
          <a class="dropdown-item" href="/projects/google-web-challenge-scholarship"><i class="fa fa-trophy fa-fw fa-1x" aria-hidden="true"></i> Google Web Challenge Scholarship</a>
          <a class="dropdown-item" href="/projects/smartly-mba"><i class="fa fa-certificate fa-fw fa-1x" aria-hidden="true"></i> Smartly MBA</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
